---
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <script is:inline>
      document.title = window.location.hostname.replace(/^www\./, "");
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
